/* fuentes externas */
@font-face {
    font-family: Tangerine;
    src: url(./assets/fount/Tangerine_Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* html{
    overflow-x: 62.5%;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
} */

/* header style init */

h1 {
    font-family: Tangerine, sans-serif;
    margin: 0;
    padding: 0;
}


.header .header-1 {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.header .header-1 .title-log {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
}

.header .header-1 .search-form {
    width: 104rem;
    height: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 0.5rem;
    justify-content: flex-end;
}

.header .header-1 .search-form input {
    font-size: 1.5rem;
    padding: 0 1.2rem;
    height: 2rem;
    width: 20rem;
    margin: 0rem;
    text-decoration: none;
    color: var(--black);
    border-radius: 4rem;
    background: rgba(129, 129, 129, 0.15);
}

.header .header-1 label {
    vertical-align: middle;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: flex-end;
    width: 26rem;
}

a {
    text-decoration: none;
    vertical-align: middle;
}

/* header style end */


/* body style init */
body {
    margin: 0px;
}

body>* {
    margin: 2.1rem 0rem;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.img {
    width: 12rem;
    height: 12rem;
    border-radius: 15px;
}

.articles-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.articles-section>article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0rem 2rem;
}

.articles-section>article>div {
    padding: 1rem;
}

.button-yellow {
    background-color: #fff9be;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
}

.catalog {
    height: 20rem;
    width: 100vw;
    background: url(./assets/image/linus-mimietz-75rvASm_uKY-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -189rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.5rem;
    position: relative;
}

.colection-text {
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.most-solds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* carrusel */

html > body > .slider{
    display: flex;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #f2f2f2;
    margin: auto;
}

.slider{
    max-width: 71rem;
    display: flex;
}

.slider .card{
    background: #fff;
    flex: 1;
    margin: 0 0.5rem;
}

.slider .card .img{
    height: 18rem;
    width: 100%;
}

.slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .card .content{
    padding: 0.5rem 1.5rem;
}

.card .content .title{
    font-size: 1.5rem;
    /* font-weight: 36rem; */
}

.card .content .sub-title{
    font-size: 1.5rem;
    /* font-weight: 36rem; */
    color: #e74c3c;
    line-height: 1.5rem;
}

.card .content p{
    text-align: center;
    margin: 0.5px 0;
}

/* body style end */





/* responsive index */

@media (max-width: 600px) {
    .articles-section {
        flex-direction: column;
    }

    .articles-section>article {
        flex-direction: column;
        margin: 2rem 0rem;
    }
}