/* fuentes externas */
@font-face {
    font-family: Tangerine;
    src: url(./assets/fount/Tangerine_Bold.ttf);
}

@font-face {
    font-family: Cagliostro;
    src: url(./assets/fount/Cagliostro-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #f2f2f2;
}


/* header style init */

h1 {
    font-family: Tangerine, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    font-family: Cagliostro;
}

.boton{
    font-family: Cagliostro;
}
h2{
    font-family: Cagliostro;
    font-size: 2rem;
}
p{
    font-family: Cagliostro;
}
h3{

    font-family: Cagliostro;
    font-size: 2rem;
    text-align: center;
}

.header .header-1 {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
}

.header .header-1 .title-log {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30rem;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
}

.header .navbar a:hover{
    border-bottom: .1rem solid red;
    padding-bottom: .5rem;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:15%; right: 0%;
    width: 25rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 10%;
    width: 81%;
    font-size: 1rem;
    padding:1rem;
    text-transform: none;
    background: rgba(129, 129, 129, 0.15);
    border-radius: 3rem;

}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}


.header .header-1 .icons {
    padding: 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: flex-end;
    width: 17rem;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    vertical-align: middle;
    font-size: 1.5rem;
    color: black;
}

/* header style end */


/* body style init */
body {
    margin: 0px;
}

body>* {
    margin: 2.1rem 0rem;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.img {
    width: 12rem;
    height: 12rem;
    border-radius: 15px;
}

.articles-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.articles-section>article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0rem 2rem;
}

.articles-section>article>div {
    padding: 1rem;
}

.button-yellow {
    background-color: #fff9be;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
}

.catalog {
    height: 20rem;
    width: 100vw;
    background: url(./assets/image/linus-mimietz-75rvASm_uKY-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -189rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.5rem;
    position: relative;
}

.colection-text {
    background: none;
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-size: 3rem;
    color: #f2f2f2;
}

.most-solds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* carrusel */

html > body > .slider{
    display: flex;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #f2f2f2;
    margin: auto;
}

.slider{
    max-width: 71rem;
    display: flex;
}

.slider .card{
    background: #fff;
    flex: 1;
    margin: 0 0.5rem;
}

.slider .card .img{
    height: 18rem;
    width: 100%;
}

.slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .card .content{
    padding: 0.5rem 1.5rem;
}

.card .content .title{
    font-size: 1.5rem;
    /* font-weight: 36rem; */
}

.card .content .sub-title{
    font-size: 1.5rem;
    /* font-weight: 36rem; */
    color: #e74c3c;
    line-height: 1.5rem;
}

.card .content p{
    text-align: center;
    margin: 0.5px 0;
}

/* body style end */

/* footer style */

.piedepagina{
    width: 100%;
    

}
.piedepagina .primer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    

}
.piedepagina .primer .box figure{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piedepagina .primer .box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}
.piedepagina .primer .RedesSociales a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    transition: all 300ms ease;

}
.piedepagina .primer .Correo a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.piedepagina .primer .ubicacion a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.piedepagina .primer .RedesSociales a:hover{
    color: aqua;
}
.piedepagina .primer .Correo a:hover{
    color: aqua;
}
.piedepagina .primer .ubicacion a:hover{
    color: aqua;
}
.piedepagina .segundo{
    padding: 15px 10px;
    text-align: center;
    color: black;
}
.piedepagina .segundo small{
    font-size: 15px;

}


/*   */

/* responsive index */

/* article responsive */

@media (max-width: 600px) {
    .articles-section {
        flex-direction: column;
    }

    .articles-section>article {
        flex-direction: column;
        margin: 2rem 0rem;
    }
}

/* footer responsive */

@media screen and (max-width:800px){
    .piedepagina .primer{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        
    
    } 
}

/* header responsive */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

   #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 15%;
        display: block;
        right: -100%;
        background: #fff;
        background-color: #504f4f;
        width: 25%;
        height: calc(80vh - 9.5rem);
        z-index: 1;
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 34%;
        right: 0rem;
    }


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}