.estilo-imagenes {
    width: 325px;
    height: 272px;

    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
}

.imagen-1 {
    

    margin: auto;
    width: 325px;
    height: 272px;
    left: 33px;
    top: 313px;
}

.imagen-2 {
    margin: auto;
    width: 320px;
    height: 272px;
    left: 773px;
    top: 313px;

}